<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{css/styleKeiji.css}" rel="stylesheet">
	<link th:href="@{css/styleControl.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

	<title>EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>


	<section class="BackGrmembresia">
		<center>
			<h1 style="top: 80px; margin-top: 10px;">
				<b> Clientes por Membresía </b>
			</h1>

		</center>
		<h1 style="padding-left: 50px; margin-top: -110px;"> <b>
				<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
			</b></h1>



		<div id="mySidenav" class="sidenav" style="z-index: 4">
			<a>.</a>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="/clientesenvios">Envíos</a>
			<a href="/clientesmembresia">Membresías</a>
			<a href="/listaclientes">Clientes</a>
		</div>
		<div class="bg-textmembresia">
			<center>
				<div>
					<div>

						<h3 th:each="tipoCliente : ${tipoClientes}">
							<span th:text="${tipoCliente.nombre}"></span>
							<div class="card" style="width: 18rem;">
								<img alt="imagen_silver" th:src="@{/images/black.png}" class="img-thumbnail">
								<div class="card-body">
									<li th:each="cliente:${tipoCliente.clientes}">
										<h5 class="card-title">
											<button class="myBtn myBtn1"
												th:text="${cliente.persona.nombre}+' '+${cliente.persona.apellido}"></button>
											<div id="myModal" class="modal">

												<!-- Modal content -->
												<div class="modal-content" style="color: black;">
													<div class="modal-header">
														<h3 class="modal-title">INFORMACIÓN ADICIONAL</h3>

													</div>
													<h5>
														<span>Codigo: &nbsp;</span><span
															th:text="${cliente.persona.id}"></span>
													</h5>
													<h5 class="card-text">
														<span> Nombre y Apellido:&nbsp;</span><span
															th:text="*{cliente.persona.nombre}+' '+${cliente.persona.apellido}"></span>
													</h5>
													<h5 class="card-text">
														<span> DNI:&nbsp;</span><span th:text="*{cliente.DNI}"></span>
													</h5>
													<h5 class="card-text">
														<span> Email:&nbsp;</span><span
															th:text="*{cliente.persona.email}"></span>
													</h5>
													<h5 class="card-text">
														<span> Fecha Nacimiento:&nbsp;</span><span
															th:text="*{cliente.persona.getFechaNacimiento()}"></span>
													</h5>
													<div class="modal-footer">

														<button id="close" type="button" class="btn btn-secondary"
															data-dismiss="modal">Close</button>
													</div>

												</div>

											</div>
										</h5>
									</li>
								</div>
							</div>


						</h3>

					</div>


				</div>
				<div style="text-align: left; padding-top: 50px;">
					<button onclick="location.href = '../clientesmembresia';" type="button"
						class="btn btn-info">REGRESAR</button>
				</div>


				<script>
					// Get the modal
					var modal = document.getElementsByClassName('modal');

					// Get the button that opens the modal
					var btn = document.getElementsByClassName("myBtn");


					// Get the <span> element that closes the modal
					var span = document.getElementsByClassName("btn");

					// When the user clicks the button, open the modal 



					for (let i = 0; i < btn.length; i++) {

						btn[i].onclick = function () {
							console.log(i);


							modal[i].style.display = "block";

						}
					}
					// When the user clicks on <span> (x), close the modal
					for (let i = 0; i < btn.length; i++) {
						span[i].onclick = function () {


							modal[i].style.display = "none";


						}
					}

					// When the user clicks anywhere outside of the modal, close it
					window.onclick = function (event) {
						if (event.target == modal) {
							modal.style.display = "none";
						}
					}
				</script>
				<script>
					function openNav() {
						document.getElementById("mySidenav").style.width = "250px";
					}

					function closeNav() {
						document.getElementById("mySidenav").style.width = "0";
					}
				</script>
				<script type="text/javascript">

					function toggle_visibility(id) {
						var e = document.getElementById(id);
						if (e.style.display == 'block')
							e.style.display = 'none';
						else
							e.style.display = 'block';
					}
				</script>
	</section>



	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>