<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/styleControl.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">


	<title>EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:fragment="header">
		<nav class="navbar mynav">
			<a class="navbar-brand" href="#">
				<div class="logo">
					<img th:src="@{/images/logo.jpg}" width="50" height="50" class="d-inline-block align-top" alt=""
						loading="lazy">
					EZShipping
				</div>
			</a>

			<ul class="nav-links">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
					<a href="/administrar">Administrar</a>
				</li>
				<li>
					<a href="#">Sobre Nosotros</a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_CUSTOMER')">
					<a href="#">Contáctanos</a>
				</li>
			</ul>

			<a sec:authorize="isAnonymous()" th:href="@{/login}" type="button" class="btn btn-outline-primary">
				<i class="fas fa-user"></i> Iniciar Sesión
			</a>
			<ul sec:authorize="isAuthenticated()" class="navbar-nav" style="margin-right: 50px; ">
				<li class="nav-item dropdown">
					<a class="btn btn-outline-info dropdown-toggle" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user-circle" style="margin-right: 10px;"></i><span
							sec:authentication="name">Username</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: absolute;">
						<a class="dropdown-item" th:href="@{/perfil}">
							<i class="fas fa-id-card"></i> Ver mi perfil
						</a>
						<a class="dropdown-item" th:href="@{/}" sec:authorize="hasRole('ROLE_CUSTOMER')">
							<i class="fas fa-history"></i> Ver historial de envíos
						</a>
						<a class="dropdown-item" th:href="@{/}" sec:authorize="hasRole('ROLE_COURIER')">
							<i class="fas fa-box-open"></i> Ver historial de entregas
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/logout}"> 
							<i class="fas fa-sign-out-alt"></i>Salir
						</a>
					</div>
				</li>
			</ul>
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</header>

	<footer th:fragment="footer">
		<section class="my_footer">
			<p></p>
			<div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-12 col-lg-6">
							<p>
								<a class="text_footer-href">Términos y condiciones</a>
							</p>
						</div>
						<div class="col-sm-6 col-md-12 col-lg-6">
							<p class="text_footer">Métodos de pago</p>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12">
										<img src="/images/footer/visa.png" width="70px" height="50px">
										<img src="/images/footer/mastercard.png" width="70px" height="50px">
										<img src="/images/footer/americanexpress.png" width="70px" height="50px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</footer>
</body>

</html>