<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/styleControl.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

	<title>EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:fragment="header">
		<nav class="navbar mynav">
			<a class="navbar-brand" href="#">
				<div class="logo">
					<img th:src="@{/images/logo.jpg}" width="50" height="50" class="d-inline-block align-top" alt=""
						loading="lazy">
					EZShipping
				</div>
			</a>

			<ul class="nav-links">
				<li><a href="/">Inicio</a></li>
				<li><a href="#">Servicios</a></li>
				<li><a href="#">Sobre Nosotros</a></li>
				<li><a href="#">Contáctanos</a></li>

			</ul>
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer">
		<section class="my_footer">
			<p></p>
			<div>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-12 col-lg-6">
							<a href="/terminos" class="text_footer">Términos y condiciones</a>
						</div>
						<div class="col-sm-6 col-md-12 col-lg-6">
							<p class="text_footer">Métodos de pago</p>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-md-12 col-lg-12">
										<img src="/images/visa.png" width="70px" height="50px">
										<img src="/images/mastercard.png" width="70px" height="50px">
										<img src="/images/americanexpress.png" width="70px" height="50px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</footer>
</body>

</html>