<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--  
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/a3ed5d87bf.js"></script>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">


</head>
-->

<head th:replace="layout/layout::head">
<script src="https://kit.fontawesome.com/a3ed5d87bf.js"></script>
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>


 


<body>

	<header th:replace="layout/layout::header"></header>
	<main>

		<!-- comentario............................ -->
		<h2>Envíos</h2>
		<h5>
			Hola, <span th:text="${persona.getNombre()}"></span>|| Revisa aquí
			tus envíos
		</h5>

		

		<section class="container">
		<h3 class="text-light bg-warning">Últimos</h3>

			<ul id="lista-envios">
				<li th:each="envio : ${ultimos}">
					<div class="card" style="width: 18rem;">
						<img alt="imagen_envio" th:src="@{/images/logo.jpg}"
							class="img-thumbnail">
						<div class="card-body">
							<h5 class="card-title">
								<span>Código: &nbsp;</span><a
									th:href="@{'/lista_envios/view-' + ${envio.id}}"
									th:text="${envio.id}"></a>
							</h5>
							<p class="card-text">
								<span>Estado: &nbsp;</span><span
									th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getEstado().getNombre()}"></span>
							</p>
							<p class="card-text">
								<span>Fecha: &nbsp;</span><span
									th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getFechaEstadoPedido()}"></span>
							</p>


							<a th:href="@{'/lista_envios/view-' + ${envio.id}}"
								class="btn btn-warning">Ver más</a>
						</div>
					</div>
				</li>
			</ul>


			<h3 class="text-light bg-warning">Más envíos</h3>


<ul id="lista-envios">
				<li th:each="envio : ${envios}">
					<div class="card" style="width: 18rem;">
						<img alt="imagen_envio" th:src="@{/images/logo.jpg}"
							class="img-thumbnail">
						<div class="card-body">
							<h5 class="card-title">
								<span>Código: &nbsp;</span><a
									th:href="@{'/lista_envios/view-' + ${envio.id}}"
									th:text="${envio.id}"></a>
							</h5>
							<p class="card-text">
								<span>Estado: &nbsp;</span><span
									th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getEstado().getNombre()}"></span>
							</p>
							<p class="card-text">
								<span>Fecha: &nbsp;</span><span
									th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getFechaEstadoPedido()}"></span>
							</p>


							<a th:href="@{'/lista_envios/view-' + ${envio.id}}"
								class="btn btn-warning">Ver más</a>
						</div>
					</div>
				</li>
			</ul>



		<!--  

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Código Envío</th>
						<th scope="col">Estado</th>
						<th scope="col">fecha</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="envio: ${ultimos}">
						<th class="text-light bg-warning"><i class="fas fa-box"></i>-----/>
							<a th:href="@{'/lista_envios/view-' + ${envio.id}}"
							th:text="${envio.id}">.</a></th>
						<td
							th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getEstado().getNombre()}"
							scope="row">.</td>
						<td
							th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getFechaEstadoPedido()}"
							scope="row">.</td>


					</tr>
				</tbody>
			</table>

-->


			<!-- prueba 
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Código Envío</th>
						<th scope="col">dir. Origen</th>
						<th scope="col">dir. Destino</th>
						<th scope="col">Destinatario</th>
						<th scope="col">Código Courier</th>
						<th scope="col">Info</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="envio: ${ultimos}">
						<th class="text-light bg-warning"><i class="fas fa-box"></i>-----.>
							<a th:href="@{'/lista_envios/view-' + ${envio.id}}"
							th:text="${envio.id}">.</a></th>
						<td th:text="${envio.direccionOrigen}" scope="row">.</td>
						<td th:text="${envio.direccionDestino}" scope="row">.</td>
						<td th:text="${envio.nombreDestinatario}" scope="row">.</td>
						<th>ver más--.> <a
							th:href="@{'/lista_envios/viewCourier-' + ${envio.trabajadorId}}"
							th:text="${envio.trabajadorId}"></a></th>



						<td class="text-light bg-secondary"><i
							class="fas fa-box-open"></i> <a
							th:href="@{'/lista_envios/view-' + ${envio.id}}"
							class="text-warning">ver más</a></td>


					</tr>
				</tbody>
			</table>
			
			-->


			<!-- comentario

			<h2>Mis Envíos</h2>
			Hola, <span th:text="${persona.getNombre()}"></span>|| Revisa aquí
			tus envíos

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Código Envío</th>
						<th scope="col">dir. Origen</th>
						<th scope="col">dir. Destino</th>
						<th scope="col">Destinatario</th>
						<th scope="col">Código Courier</th>
						<th scope="col">Info</th>


					</tr>
				</thead>
				<tbody>
					<tr th:each="envio: ${envios}">
						<th class="text-light bg-warning"><i class="fas fa-box"></i>-----.>
							<a th:href="@{'/lista_envios/view-' + ${envio.id}}"
							th:text="${envio.id}">.</a></th>
						<td th:text="${envio.direccionOrigen}" scope="row">.</td>
						<td th:text="${envio.direccionDestino}" scope="row">.</td>
						<td th:text="${envio.nombreDestinatario}" scope="row">.</td>
						<th>ver más--.> <a
							th:href="@{'/lista_envios/viewCourier-' + ${envio.trabajadorId}}"
							th:text="${envio.trabajadorId}"></a></th>



						<td class="text-light bg-secondary"><i
							class="fas fa-box-open"></i> <a
							th:href="@{'/lista_envios/view-' + ${envio.id}}"
							class="text-warning">ver más</a></td>


					</tr>
				</tbody>
			</table>
			-->

		</section>

	</main>
	
	
	
	<!-- formulario sencillo 
	<form>
		<div class="row">
			<div class="col">
				<input type="text" class="form-control" placeholder="First name">
			</div>
			<div class="col">
				<input type="text" class="form-control" placeholder="Last name">
			</div>
		</div>
	</form> -->

	<footer th:replace="layout/layout :: footer">
		<script th:src="@{js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>
	</footer>




</body>
</html>
