<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/a3ed5d87bf.js"></script>
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/styleControl.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>
<body>

	
		<h2>Courier</h2>
	
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Courier desde</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th th:text="${persona.getNombre()}" scope="row">.</th>
				<th th:text="${persona.getApellido()}" scope="row">.</th>
				<th th:text="${courier.getFechaContratacion()}" scope="row">.</th>
			
			</tr>
		</tbody>
	</table>
	


	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/chosen.jquery.min.js}"></script>
	<script th:src="@{/js/fontawesome.min.js}"></script>
	<script th:src="@{/js/sweetalert.min.js}"></script>

</body>
</html>