<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<!--  
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://kit.fontawesome.com/a3ed5d87bf.js"></script>
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/styleControl.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>
-->
<head th:replace="layout/layout::head">
<script src="https://kit.fontawesome.com/a3ed5d87bf.js"></script>
<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>


<body>

	<main>
		<h2>Courier</h2>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Inicio</li>
				<li class="breadcrumb-item">Envios</li>
				<li class="breadcrumb-item"><span></span></li>
				<li class="breadcrumb-item active" aria-current="page"></li>
			</ol>
		</nav>

		<section class="container">

			<div id="view-Courier">

				<div>
					<img th:src="@{${courier.getUrlImagen()}}" class="img-fluid"
						alt="Imagen Courier">
				</div>


				<div class="card">
					<div class="card-header"><h5>Información del Courier</h5></div>
					<div class="card-body">

						<h4>
							<span>CÓDIGO: &nbsp;</span><a th:text="${courier.id}"></a>
						</h4>

						<h4 class="card-text">
							<span> NOMBRE: &nbsp;</span><span th:text="*{nombreApellidos}"></span>
						</h4>

						<h4 class="card-text">
							<span>DESDE: &nbsp;</span><span
								th:text="${courier.getFechaContratacion()}"></span>
						</h4>

						<h4 class="card-text">
							<span>TOTAL ENVÍOS: &nbsp;</span><span th:text="${totalEnvios}"></span>
						</h4>

					</div>
				</div>

			</div>

		</section>




		<section class="container">
			<h2></h2>
			<h1></h1>
			<h3 class="text-light bg-warning">
				&nbsp; Tus envíos con <span th:text="*{nombreApellidos}"></span>
			</h3>
			<ul id="lista-envios">
				<li th:each="envio : ${envios}">
					<div class="card" style="width: 18rem;">
						<img alt="imagen_envio" th:src="@{/images/logo.jpg}"
							class="img-thumbnail">
						<div class="card-body">
							<h5 class="card-title">
								<span>Código: &nbsp;</span><a
									th:href="@{'/lista_envios/view-' + ${envio.id}}"
									th:text="${envio.id}"></a>
							</h5>
							<p class="card-text">
								<span>Estado: &nbsp;</span><span
									th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getEstado().getNombre()}"></span>
							</p>
							<p class="card-text">
								<span>Fecha: &nbsp;</span><span
									th:text="${envio.getEstadoEnvios().get(envio.getEstadoEnvios().size()-1).getFechaEstadoPedido()}"></span>
							</p>


							<a th:href="@{'/lista_envios/view-' + ${envio.id}}"
								class="btn btn-warning">Ver más</a>
						</div>
					</div>
				</li>
			</ul>



		</section>


	</main>

	<footer th:replace="layout/layout :: footer">
		<script th:src="@{js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>
	</footer>

</body>
</html>