<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{../css/style.css}" rel="stylesheet">
	<link th:href="@{../css/styleDetalleMembresia.css}" rel="stylesheet">
	<link th:href="@{../css/styleControl.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">

	<title>Información membresía EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>
	<main>
		<section class="BackGr">
			<nav aria-label="breadcrumb" class="barra-ruta">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Membresías</li>
					<li class="breadcrumb-item active" aria-current="page">
						<span th:text="${tipoCliente.nombre}"></span>
					</li>
				</ol>
			</nav>

			<div id="view-membresia">
				<div>
					<img th:src="@{${tipoCliente.urlImage}}" class="img-fluid" alt="Responsive image">
				</div>
				<div class="card">
					<div class="card-header">
						<span th:text="${tipoCliente.nombre}"></span>
					</div>
					<div class="card-body">
						<h2 class="info">
							<span th:text="'Descuento del ' + (1.00-${tipoCliente.descuento})*100 + '%'"></span>
							<!-- (1.00-${tipoCliente.descuento})*100 -->
						</h2>
					</div>
					<div>
						<button type="submit" class="button"> Suscribirse</button>
					</div>
				</div>
			</div>
		</section>

</body>
</main>

<footer th:replace="layout/layout :: footer"></footer>

</html>