<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{../css/style.css}" rel="stylesheet">
	<link th:href="@{../css/styleDetalleMembresia.css}" rel="stylesheet">
	<link th:href="@{../css/styleControl.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">

	<title>Información membresía EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>

	<section class="BackGr">
		<div class="contenido-info">
			<h1>
				<span th:text="${tipoCliente.nombre}"></span>
			</h1>

			<h2 class="info">
				<span th:text="'Descuento del ' + (1.00-${tipoCliente.descuento})*100 + '%'"></span>
				<!-- (1.00-${tipoCliente.descuento})*100 -->
			</h2>
		</div>
	</section>

	<footer th:replace="layout/layout :: footer"></footer>
	
</body>

</html>