<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>

	<section class="zoom">
		<div class="adjust-title" sec:authorize="isAnonymous()">
			<h1>Bienvenido!</h1>
			<h2>
				<span>Envía "easy" ahora!</span>
			</h2>
		</div>

		<div class="adjust-title" sec:authorize="isAuthenticated()">
			<h1>Estás de vuelta!</h1>
			<h2>
				<span sec:authentication="name">Username</span>
			</h2>
		</div>

	</section>

	<section class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<a href="/envio/new">
						<img src="images/landing/Enviar_Icon.png" class="myicons">
					</a>
					<a href="/envio/new">
						<p text-align="center" class="my_text">Envía</p>
					</a>
				</div>
				<div class="col-sm">
					<a href="/rastrear"><img src="images/landing/Rastrear_Icon.png" class="myicons"></a>
					<p text-align="center" class="my_text">Rastrea</p>
				</div>
				<div class="col-sm">
					<a href="/lista_envios">
						<img src="images/landing/Historial_Icon.png" class="myicons">
					</a>
					<a href="/lista_envios">
						<p text-align="center" class="my_text">Historial</p>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="hero-image">
			<div class="hero-text">
				<h1>Accede a una membresía</h1>
				<a href="/membresias"><button type="button">Más información</button></a>
			</div>
		</div>
	</section>


	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>