<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/styleControl.css}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/styleLogin.css">

	<title>EZShipping</title>
</head>

<body id="bootstrap-overrides">
	<header th:fragment="header">
		<nav class="navbar mynav">
			<a class="navbar-brand" href="#">
				<div class="logo">
					<img th:src="@{/images/logo.jpg}" width="50" height="50" class="d-inline-block align-top" alt=""
						loading="lazy">
					EZShipping
				</div>
			</a>
		</nav>
	</header>
	<p><p><p><p>
	<div class="login-inicio">
		<div class="container">
			<div class="row justify-content-between">
				<div class="content-right">
						<form action="">							
						<div class="form-group">
							<input type="text" placeholder="Correo Electronico">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Contraseña">
						</div>
						<div class="login">
							<a href="" class="btn">Iniciar Sesion</a>
						</div>
						<div class="forgot">
							<a href="">¿Olvidaste tu contraseña?</a>
						</div>
						<div class="create-btn">
							<a href="" class="btn">Crear nueva cuenta</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
		
</body>

</html>