<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{css/styleKeiji.css}" rel="stylesheet">
     <link th:href="@{css/styleControl.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

    <title>EZShipping</title>
  </head>
  <body id="bootstrap-overrides">
	<nav class="navbar mynav">
		<div class="logo">
			<h4>EZShipping</h4>
		</div>
		<ul class="nav-links">
			<li><a href="../">Inicio</a></li>
			<li><a href="personas">Personas</a></li>
			<li><a href="#">Clientes</a></li>
			<li><a href="#">Trabajadores</a></li>

		</ul>
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
	</nav>
	<section class="BackGrTerminos">
		<h1 style="padding-left: 50px">	<b>	
			Términos y Condiciones
		</b></h1>

		<div class="bg-textterminos">
				<form>
				<table>
					<tr>
						<h2 style="text-align: left; margin-bottom: 50px;"><b>Elija el tipo de membresía que desea visualizar.</b></h2>
					</tr>
				</table>
			</form>
			<button onclick="location.href = 'terminosregular';" type="button" class="btn-regular btn-lg btn-block">REGULAR</button>
			<button onclick="location.href = 'terminosbronce';" type="button" class="btn-bronce btn-lg btn-block">BLACK</button>
			<button onclick="location.href = 'terminosplata';" type="button" class="btn-plata btn-lg btn-block">SILVER</button>
			<button onclick="location.href = 'terminosoro';" type="button" class="btn-oro btn-lg btn-block">GOLD</button>
			<form style="margin-top: 50px">
				<table>
					<tr>
						<button onclick="location.href = '../';" type="button" class="btn btn-outline-info">VOLVER AL INICIO</button>
					</tr>
				</table>
			</form>
		</div>
	</section>
	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script th:src="@{js/app.js}"></script>
	
  </body>
</html>