<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/styleControl.css}" rel="stylesheet">
	<link th:href="@{css/stylePerfil.css}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

	<title>Ver perfil</title>
</head>


<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>

	<main class="perfil">
		<div class="barraRuta">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Inicio</li>
					<li class="breadcrumb-item">Usuario</li>
					<li class="breadcrumb-item active" aria-current="page">Ver mi perfil</li>
				</ol>
			</nav>
		</div>
		<section class="container">

			<div class="card w-50">
				<div class="card-header">
					Perfil del usuario
				</div>
				<div class="card-body" th:if="${{#authentication.getPrincipal().getSegmento()}} == 'CLIENTE'">
					<h5 class="card-title"></h5>
					<p class="card-text">
						Nombre: <strong><span th:text="${cliente.persona.nombre}"></span></strong>
					</p>
					<p class="card-text">
						Apellido: <strong><span th:text="${cliente.persona.apellido}"></span></strong>
					</p>
					<p class="card-text">
						Número de documento: <strong><span th:text="${cliente.DNI}"></span></strong>
					</p>
					<p class="card-text">
						Email: <strong><span th:text="${cliente.persona.email}"></span></strong>
					</p>
					<p class="card-text">
						Membresía: <strong><span th:text="${cliente.tipoCliente.nombre}"></span></strong>
					</p>
					<a href="#" class="btn btn-primary">Editar</a>
				</div>

				<div class="card-body" th:if="${{#authentication.getPrincipal().getSegmento()}} == 'TRABAJADOR'">
					<h5 class="card-title"></h5>
					<p class="card-text">
						Nombre: <strong><span th:text="${trabajador.persona.nombre}"></span></strong>
					</p>
					<p class="card-text">
						Apellido: <strong><span th:text="${trabajador.persona.apellido}"></span></strong>
					</p>
					<p class="card-text">
						Fecha de contratación: <strong><span th:text="${trabajador.fechaContratacion}"></span></strong>
					</p>
					<p class="card-text">
						Email: <strong><span th:text="${trabajador.persona.email}"></span></strong>
					</p>

					<a href="#" class="btn btn-primary">Editar</a>
				</div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>