<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body id="bootstrap-overrides">
	<header th:replace="layout/layout :: header"></header>

	<section class="BackGr">
		<h1>
			Realizar reclamo
		</h1>

		<!-- Ingresar data y enviarlo al Controller -->
		<section class="differ">
			<div class="shadow">
				<form th:action="@{/reclamos/save}" th:object="${reclamo}" method="post" >
					<div class="form-group">
						<div>
							<label for="exampleFormControlTextarea1">Escriba su reclamo</label>
						</div>
						<div class="col">
							<input type="text" class="form-control" placeholder="¿Qué no le agaradó?"
								th:field="*{descripcion}">
						</div>
					</div>
				</form>
				<button type="submit" class="btn btn-success" ><i class="fas fa-save"></i> Grabar</button>
			</div>
		</section>
	</section>
	<footer th:replace="layout/layout :: footer"></footer>

</body>

</html>